@page "/Prestamos/Index"
@rendermode InteractiveServer
@inject PrestamoService prestamoService
@inject NavigationManager navigation

<PageTitle>Prestamos</PageTitle>
<div class="container">
	<div class="card shadow-lg">

		<div class="card-header text-center">
			<h5 class="card-title">Prestamo</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3">
					<InputSelect id="filtro" class="form-select" @bind-Value="Filtro">
						<option value="id">ID</option>
						<option value="deudor">Deudor</option>
						<option value="concepto"> Concepto</option>
						<option value="Monto"> Monto</option>
					</InputSelect>
				</div>

				<div class="col-md-6 d-flex align-items-end">
					<div class="input-group">
						<InputText id="busqueda" class="form-control" @bind-Value="ValorFiltro"/>
						<button @onclick="Buscar" class="btn btn-outline-primary bi bi-search" placeholder="Buscar">  Buscar</button>
					</div>

				</div>

			</div>
			<a href="/Prestamos/Create" class="btn btn-outline-primary"	<span class=" bi bi-plus-square mt-3"></span> Crear</a>
			<table class="table table-light table-hover">
				<thead class="table table-striped ">
					<tr class="text-center">
						@*PrestamoId*@
						<th class="text-lg-start"> ID</th>
						@*Deudor*@
						<th>Deudor</th>
						@*Concepto*@
						<th>Concepto</th>
						@*Monto*@
						<th>Monto</th>
						<th>Ver</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var prestamo in Prestamo)
					{
						<tr class="text-center">
							@*ID*@
							<td class="text-lg-start"> @prestamo.PrestamoId</td>
							@*Deudor*@
							<td>@prestamo.Deudor</td>
							@*Concepto*@
							<td>@prestamo.Concepto</td>
							@*Monto*@
							<td>@($"{prestamo.Monto:C}")</td>

							<td>
								<a href="/Prestamos/View/@prestamo.PrestamoId" class="btn btn-outline-primary bi bi-eye"></a>
							</td>
							<td>
								<a href="/Prestamos/Edit/@prestamo.PrestamoId" class="btn btn-outline-primary bi bi-pencil-square"></a>
							</td>
							<td>
								<a href="/Prestamos/Delete/@prestamo.PrestamoId" class="btn btn-outline-primary bi bi-trash"></a>
							</td>

						</tr>
					}
				</tbody>

			</table>
		</div>

	</div>
</div>
@code {
	public int PrestamoId{ get; set; }
	public List<Prestamos> Prestamo = new List<Prestamos>();
	public string Filtro = "id";
	public string ValorFiltro = "";

	protected override async Task OnInitializedAsync()
	{
		Prestamo = await prestamoService.Listar(o => true);
	}

	public async Task Buscar()
	{
		switch (Filtro)
		{
			case "id" :
				if(int.TryParse(ValorFiltro, out int id))
				{
					Prestamo = await prestamoService.Listar(o => o.PrestamoId == id);
				}
				break;
			case "deudor":
				Prestamo = await prestamoService.Listar(o => o.Deudor.ToLower().Equals(ValorFiltro.ToLower()));
				break;
			case "concepto" :
				Prestamo = await prestamoService.Listar(o => o.Concepto.ToLower().Equals(ValorFiltro.ToLower()));
				break;
			case "monto" :
				if (float.TryParse(ValorFiltro, out float monto))
				{
					Prestamo = await prestamoService.Listar(o => o.Monto == monto);
				}
				break;
		}
	}

}